<%- include('./header.ejs') %>
<!-- Carousel Start -->
<div class="container-fluid p-0 mb-5">
  <div class="owl-carousel header-carousel position-relative">
    <div class="owl-carousel-item position-relative">
      <img
        class="img-fluid w-100"
        src="/assests/img/portrait-of-indian-graduate-student-2023-11-27-05-21-44-utc.jpg"
        alt=""
      />
      <div
        class="position-absolute top-0 start-0 w-100 h-100 d-flex align-items-center"
        style="background: rgba(24, 29, 56, 0.7)"
      >
        <div class="container">
          <div class="row justify-content-start">
            <div class="col-sm-10 col-lg-8">
              <h5 class="text-white text-uppercase mb-3 animated slideInDown">
                Best Online Courses
              </h5>
              <h1 class="display-3 text-white animated slideInDown">
                The Best Online Learning Platform
              </h1>
              <p class="fs-5 text-white mb-4 pb-2">
                "Unlock Your Potential with the Leading Online Learning
                Platform—Your Gateway to Knowledge, Skills, and Career Growth"
              </p>
              <a
                href=""
                class="btn btn-primary py-md-3 px-md-5 me-3 animated slideInLeft"
                >Read More</a
              >
              <a
                href=""
                class="btn btn-light py-md-3 px-md-5 animated slideInRight"
                >Join Now</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="owl-carousel-item position-relative">
      <img
        class="img-fluid w-100"
        src="/assests/img/portrait-of-a-cheerful-smart-student-girl-studying-2024-07-02-23-41-59-utc.jpg"
        alt=""
      />
      <div
        class="position-absolute top-0 start-0 w-100 h-100 d-flex align-items-center"
        style="background: rgba(24, 29, 56, 0.7)"
      >
        <div class="container">
          <div class="row justify-content-start">
            <div class="col-sm-10 col-lg-8">
              <h5 class="text-white text-uppercase mb-3 animated slideInDown">
                Best Online Courses
              </h5>
              <h1 class="display-3 text-white animated slideInDown">
                Get Educated Online From Your Home
              </h1>
              <p class="fs-5 text-white mb-4 pb-2">
                "Learn from the comfort of home with our flexible, high-quality
                online education programs."
              </p>
              <a
                href=""
                class="btn btn-primary py-md-3 px-md-5 me-3 animated slideInLeft"
                >Read More</a
              >
              <a
                href=""
                class="btn btn-light py-md-3 px-md-5 animated slideInRight"
                >Join Now</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Carousel End -->

<!-- Service Start -->
<div class="container-xxl py-5">
  <div class="container">
    <div class="row g-4">
      <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.1s">
        <div class="service-item text-center pt-3">
          <div class="p-4">
            <i class="fa fa-3x fa-graduation-cap text-primary mb-4"></i>
            <h5 class="mb-3">Academic support</h5>
            <p>
              We provide all-over support that starts from getting enrolled for
              the course to receiving the degree.
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.3s">
        <div class="service-item text-center pt-3">
          <div class="p-4">
            <i class="fa fa-3x fa-globe text-primary mb-4"></i>
            <h5 class="mb-3">Expert Counseling</h5>
            <p>
              Our Experts help and guide you in selecting the course you are
              interested in according to your dream and career preferences.
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.5s">
        <div class="service-item text-center pt-3">
          <div class="p-4">
            <i class="fa fa-3x fa-home text-primary mb-4"></i>
            <h5 class="mb-3">Flexible Learning</h5>
            <p>
              We provide you with flexible learning facilities to learn from
              anywhere at anytime so that nothing can stop you from growth.
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.7s">
        <div class="service-item text-center pt-3">
          <div class="p-4">
            <i class="fa fa-3x fa-book-open text-primary mb-4"></i>
            <h5 class="mb-3">Affordable Fee</h5>
            <p>
              Our fees are affordable as compared to others which won't stop you
              from dreaming big.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Service End -->

<!-- About Start -->
<div class="container-xxl py-5">
  <div class="container">
    <div class="row g-5">
      <div
        class="col-lg-6 wow fadeInUp"
        data-wow-delay="0.1s"
        style="min-height: 400px"
      >
        <div class="position-relative h-100">
          <img
            class="img-fluid position-absolute w-100 h-100"
            src="/assests/img/about.jpg"
            alt=""
            style="object-fit: cover"
          />
        </div>
      </div>
      <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.3s">
        <h6 class="section-title bg-white text-start text-primary pe-3">
          About Us
        </h6>
        <h1 class="mb-4">Welcome to eLEARNING</h1>
        <p class="mb-4">
          SSD Education revolutionizes learning with flexible, high-quality
          online courses. We fit education into your life, not the other way
          around. Our personalized support and cutting-edge resources empower
          you to achieve your goals from anywhere. At SSD, we're not just
          offering courses; we're opening doors to your future.
        </p>
        <p class="mb-4">
          Experience the power of education that works for you. Join us and
          transform your potential into success.
        </p>
        <div class="row gy-2 gx-4 mb-4">
          <div class="col-sm-6">
            <p class="mb-0">
              <i class="fa fa-arrow-right text-primary me-2"></i>Skilled
              Instructors
            </p>
          </div>
          <div class="col-sm-6">
            <p class="mb-0">
              <i class="fa fa-arrow-right text-primary me-2"></i>Online Classes
            </p>
          </div>
          <div class="col-sm-6">
            <p class="mb-0">
              <i class="fa fa-arrow-right text-primary me-2"></i>Flexibility
            </p>
          </div>
          <div class="col-sm-6">
            <p class="mb-0">
              <i class="fa fa-arrow-right text-primary me-2"></i>Variety of
              programs
            </p>
          </div>
          <div class="col-sm-6">
            <p class="mb-0">
              <i class="fa fa-arrow-right text-primary me-2"></i>Easy
              Application Process
            </p>
          </div>
          <div class="col-sm-6">
            <p class="mb-0">
              <i class="fa fa-arrow-right text-primary me-2"></i
              >Financial Aid Guidance
            </p>
          </div>
        </div>
        <a class="btn btn-primary py-3 px-5 mt-2" href="">Read More</a>
      </div>
    </div>
  </div>
</div>
<!-- About End -->

<!-- Categories Start -->
<div class="container-xxl py-5 category">
  <div class="container">
    <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
      <h6 class="section-title bg-white text-center text-primary px-3">
        Categories
      </h6>
      <h1 class="mb-5">Courses Categories</h1>
    </div>
    <div class="row g-3">
      <div class="col-lg-7 col-md-6">
        <div class="row g-3">
          <div class="col-lg-12 col-md-12 wow zoomIn" data-wow-delay="0.1s">
            <a class="position-relative d-block overflow-hidden" href="">
              <img
                class="img-fluid"
                src="/assests/img/happy-indian-male-student-at-the-university-2023-11-27-05-28-09-utc.jpg"
                alt=""
              />
              <div
                class="bg-white text-center position-absolute bottom-0 end-0 py-2 px-3"
                style="margin: 1px"
              >
                <h5 class="m-0">Distance & Online MA</h5>
                <small class="text-primary"> Courses</small>
              </div>
            </a>
          </div>
          <div class="col-lg-6 col-md-12 wow zoomIn" data-wow-delay="0.3s">
            <a class="position-relative d-block overflow-hidden" href="">
              <img
                class="img-fluid"
                src="/assests/img/indian-asian-four-college-or-university-students-u-2024-07-06-04-17-59-utc.jpeg"
                alt=""
              />
              <div
                class="bg-white text-center position-absolute bottom-0 end-0 py-2 px-3"
                style="margin: 1px"
              >
                <h5 class="m-0">Distance & Online MBA</h5>
                <small class="text-primary"> Courses</small>
              </div>
            </a>
          </div>
          <div class="col-lg-6 col-md-12 wow zoomIn" data-wow-delay="0.5s">
            <a class="position-relative d-block overflow-hidden" href="">
              <img
                class="img-fluid"
                src="/assests/img/good-and-positive-day-group-of-young-people-in-ca-2023-11-27-04-57-22-utc.jpg"
                alt=""
              />
              <div
                class="bg-white text-center position-absolute bottom-0 end-0 py-2 px-3"
                style="margin: 1px"
              >
                <h5 class="m-0">Distance & Online MCA</h5>
                <small class="text-primary"> Courses</small>
              </div>
            </a>
          </div>
        </div>
      </div>
      <div
        class="col-lg-5 col-md-6 wow zoomIn"
        data-wow-delay="0.7s"
        style="min-height: 350px"
      >
        <a class="position-relative d-block h-100 overflow-hidden" href="">
          <img
            class="img-fluid position-absolute w-100 h-100"
            src="/assests/img/cat-4.jpg"
            alt=""
            style="object-fit: cover"
          />
          <div
            class="bg-white text-center position-absolute bottom-0 end-0 py-2 px-3"
            style="margin: 1px"
          >
            <h5 class="m-0">M.Tech for Working Professionals</h5>
            <small class="text-primary"> Courses</small>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>
<!-- Categories Start -->

<!-- Courses Start -->
<div class="container-xxl py-5">
  <div class="container">
    <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
      <h6 class="section-title bg-white text-center text-primary px-3">
        Courses
      </h6>
      <h1 class="mb-5">Popular Courses</h1>
    </div>
    <div class="row g-4 justify-content-center">
      <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
        <div class="course-item bg-light">
          <div class="position-relative overflow-hidden">
            <img class="img-fluid" src="/assests/img/course-1.jpg" alt="" />
            <!-- <div class="w-100 d-flex justify-content-center position-absolute bottom-0 start-0 mb-4"> -->
            <!-- <a href="#" class="flex-shrink-0 btn btn-sm btn-primary px-3 border-end" style="border-radius: 30px 0 0 30px;">Read More</a> -->
            <!-- <a href="#" class="flex-shrink-0 btn btn-sm btn-primary px-3" style="border-radius: 0 30px 30px 0;">Join Now</a> -->
            <!-- </div> -->
          </div>
          <div class="text-center p-4 pb-0">
            <!-- <h3 class="mb-0">$149.00</h3> -->
            <!-- <div class="mb-3"> -->
            <!-- <small class="fa fa-star text-primary"></small> -->
            <!-- <small class="fa fa-star text-primary"></small> -->
            <!-- <small class="fa fa-star text-primary"></small> -->
            <!-- <small class="fa fa-star text-primary"></small> -->
            <!-- <small class="fa fa-star text-primary"></small> -->
            <!-- <small>(123)</small> -->
            <!-- </div> -->
            <h5 class="mb-4">M.Tech for Working Professionals</h5>
            <p>
              With technological advancements, students can now pursue an M.Tech
              degree at their own pace more easily.
            </p>
          </div>
          <!-- <div class="d-flex border-top"> -->
          <!-- <small class="flex-fill text-center border-end py-2"><i class="fa fa-user-tie text-primary me-2"></i>John Doe</small> -->
          <!-- <small class="flex-fill text-center border-end py-2"><i class="fa fa-clock text-primary me-2"></i>1.49 Hrs</small> -->
          <!-- <small class="flex-fill text-center py-2"><i class="fa fa-user text-primary me-2"></i>30 Students</small> -->
          <!-- </div> -->
        </div>
      </div>
      <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
        <div class="course-item bg-light">
          <div class="position-relative overflow-hidden">
            <img class="img-fluid" src="/assests/img/course-2.jpg" alt="" />
            <!-- <div class="w-100 d-flex justify-content-center position-absolute bottom-0 start-0 mb-4"> -->
            <!-- <a href="#" class="flex-shrink-0 btn btn-sm btn-primary px-3 border-end" style="border-radius: 30px 0 0 30px;">Read More</a> -->
            <!-- <a href="#" class="flex-shrink-0 btn btn-sm btn-primary px-3" style="border-radius: 0 30px 30px 0;">Join Now</a> -->
            <!-- </div> -->
          </div>
          <div class="text-center p-4 pb-0">
            <!-- <h3 class="mb-0">$149.00</h3> -->
            <!-- <div class="mb-3"> -->
            <!-- <small class="fa fa-star text-primary"></small> -->
            <!-- <small class="fa fa-star text-primary"></small> -->
            <!-- <small class="fa fa-star text-primary"></small> -->
            <!-- <small class="fa fa-star text-primary"></small> -->
            <!-- <small class="fa fa-star text-primary"></small> -->
            <!-- <small>(123)</small> -->
            <!-- </div> -->
            <h5 class="mb-4">Distance & Online MCA</h5>
            <p class="mb-0">
              MCA stands for Master of Computer Applications. It is a
              postgraduate program in computer application.
            </p>
          </div>
          <!-- <div class="d-flex border-top"> -->
          <!-- <small class="flex-fill text-center border-end py-2"><i class="fa fa-user-tie text-primary me-2"></i>John Doe</small> -->
          <!-- <small class="flex-fill text-center border-end py-2"><i class="fa fa-clock text-primary me-2"></i>1.49 Hrs</small> -->
          <!-- <small class="flex-fill text-center py-2"><i class="fa fa-user text-primary me-2"></i>30 Students</small> -->
          <!-- </div> -->
        </div>
      </div>
      <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
        <div class="course-item bg-light">
          <div class="position-relative overflow-hidden">
            <img
              class="img-fluid"
              src="/assests/img/img-Courses/9.png"
              alt="B.com"
            />
            <!-- <div class="w-100 d-flex justify-content-center position-absolute bottom-0 start-0 mb-4"> -->
            <!-- <a href="#" class="flex-shrink-0 btn btn-sm btn-primary px-3 border-end" style="border-radius: 30px 0 0 30px;">Read More</a> -->
            <!-- <a href="#" class="flex-shrink-0 btn btn-sm btn-primary px-3" style="border-radius: 0 30px 30px 0;">Join Now</a> -->
            <!-- </div> -->
          </div>
          <div class="text-center p-4 pb-0">
            <!-- <h3 class="mb-0">$149.00</h3> -->
            <!-- <div class="mb-3"> -->
            <!-- <small class="fa fa-star text-primary"></small> -->
            <!-- <small class="fa fa-star text-primary"></small> -->
            <!-- <small class="fa fa-star text-primary"></small> -->
            <!-- <small class="fa fa-star text-primary"></small> -->
            <!-- <small class="fa fa-star text-primary"></small> -->
            <!-- <small>(123)</small> -->
            <!-- </div> -->
            <h5 class="mb-4">Distance & Online B.Com</h5>
            <p class="mb-0">
              An online B.Com course is one of the finest courses that you can
              avail today. Here, you will learn the.
            </p>
          </div>
          <!-- <div class="d-flex border-top"> -->
          <!-- <small class="flex-fill text-center border-end py-2"><i class="fa fa-user-tie text-primary me-2"></i>John Doe</small> -->
          <!-- <small class="flex-fill text-center border-end py-2"><i class="fa fa-clock text-primary me-2"></i>1.49 Hrs</small> -->
          <!-- <small class="flex-fill text-center py-2"><i class="fa fa-user text-primary me-2"></i>30 Students</small> -->
          <!-- </div> -->
        </div>
      </div>
      <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
        <div class="course-item bg-light">
          <div class="position-relative overflow-hidden">
            <img
              class="img-fluid"
              src="/assests/img/img-Courses/8.png"
              alt=""
            />
            <!-- <div class="w-100 d-flex justify-content-center position-absolute bottom-0 start-0 mb-4"> -->
            <!-- <a href="#" class="flex-shrink-0 btn btn-sm btn-primary px-3 border-end" style="border-radius: 30px 0 0 30px;">Read More</a> -->
            <!-- <a href="#" class="flex-shrink-0 btn btn-sm btn-primary px-3" style="border-radius: 0 30px 30px 0;">Join Now</a> -->
            <!-- </div> -->
          </div>
          <div class="text-center p-4 pb-0">
            <!-- <h3 class="mb-0">$149.00</h3> -->
            <!-- <div class="mb-3"> -->
            <!-- <small class="fa fa-star text-primary"></small> -->
            <!-- <small class="fa fa-star text-primary"></small> -->
            <!-- <small class="fa fa-star text-primary"></small> -->
            <!-- <small class="fa fa-star text-primary"></small> -->
            <!-- <small class="fa fa-star text-primary"></small> -->
            <!-- <small>(123)</small> -->
            <!-- </div> -->
            <h5 class="mb-4">Distance & Online MBA</h5>
            <p class="mb-0">
              An Online MBA, or Master of Business Administration, is a
              graduate-level degree program that focuses.
            </p>
          </div>
          <!-- <div class="d-flex border-top"> -->
          <!-- <small class="flex-fill text-center border-end py-2"><i class="fa fa-user-tie text-primary me-2"></i>John Doe</small> -->
          <!-- <small class="flex-fill text-center border-end py-2"><i class="fa fa-clock text-primary me-2"></i>1.49 Hrs</small> -->
          <!-- <small class="flex-fill text-center py-2"><i class="fa fa-user text-primary me-2"></i>30 Students</small> -->
          <!-- </div> -->
        </div>
      </div>
      <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
        <div class="course-item bg-light">
          <div class="position-relative overflow-hidden">
            <img
              class="img-fluid"
              src="/assests/img/img-Courses/4.png"
              alt=""
            />
            <!-- <div class="w-100 d-flex justify-content-center position-absolute bottom-0 start-0 mb-4"> -->
            <!-- <a href="#" class="flex-shrink-0 btn btn-sm btn-primary px-3 border-end" style="border-radius: 30px 0 0 30px;">Read More</a> -->
            <!-- <a href="#" class="flex-shrink-0 btn btn-sm btn-primary px-3" style="border-radius: 0 30px 30px 0;">Join Now</a> -->
            <!-- </div> -->
          </div>
          <div class="text-center p-4 pb-0">
            <!-- <h3 class="mb-0">$149.00</h3> -->
            <!-- <div class="mb-3"> -->
            <!-- <small class="fa fa-star text-primary"></small> -->
            <!-- <small class="fa fa-star text-primary"></small> -->
            <!-- <small class="fa fa-star text-primary"></small> -->
            <!-- <small class="fa fa-star text-primary"></small> -->
            <!-- <small class="fa fa-star text-primary"></small> -->
            <!-- <small>(123)</small> -->
            <!-- </div> -->

            <h5 lass="mb-4">Distance & Online MA</h5>
            <p class="mb-0">
              A Master of Arts (MA) program is a postgraduate degree program
              that focuses on providing students.
            </p>
          </div>
          <!-- <div class="d-flex border-top"> -->
          <!-- <small class="flex-fill text-center border-end py-2"><i class="fa fa-user-tie text-primary me-2"></i>John Doe</small> -->
          <!-- <small class="flex-fill text-center border-end py-2"><i class="fa fa-clock text-primary me-2"></i>1.49 Hrs</small> -->
          <!-- <small class="flex-fill text-center py-2"><i class="fa fa-user text-primary me-2"></i>30 Students</small> -->
          <!-- </div> -->
        </div>
      </div>
      <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
        <div class="course-item bg-light">
          <div class="position-relative overflow-hidden">
            <img
              class="img-fluid"
              src="/assests/img/img-Courses/6.png"
              alt=""
            />
            <!-- <div class="w-100 d-flex justify-content-center position-absolute bottom-0 start-0 mb-4"> -->
            <!-- <a href="#" class="flex-shrink-0 btn btn-sm btn-primary px-3 border-end" style="border-radius: 30px 0 0 30px;">Read More</a> -->
            <!-- <a href="#" class="flex-shrink-0 btn btn-sm btn-primary px-3" style="border-radius: 0 30px 30px 0;">Join Now</a> -->
            <!-- </div> -->
          </div>
          <div class="text-center p-4 pb-0">
            <!-- <h3 class="mb-0">$149.00</h3> -->
            <!-- <div class="mb-3"> -->
            <!-- <small class="fa fa-star text-primary"></small> -->
            <!-- <small class="fa fa-star text-primary"></small> -->
            <!-- <small class="fa fa-star text-primary"></small> -->
            <!-- <small class="fa fa-star text-primary"></small> -->
            <!-- <small class="fa fa-star text-primary"></small> -->
            <!-- <small>(123)</small> -->
            <!-- </div> -->
            <h5 class="mb-4">Distance & Online M.com</h5>
            <p class="mb-0">
              M.Com or Master of Commerce is a postgraduate degree program that
              focuses on providing students.
            </p>
          </div>
          <!-- <div class="d-flex border-top"> -->
          <!-- <small class="flex-fill text-center border-end py-2"><i class="fa fa-user-tie text-primary me-2"></i>John Doe</small> -->
          <!-- <small class="flex-fill text-center border-end py-2"><i class="fa fa-clock text-primary me-2"></i>1.49 Hrs</small> -->
          <!-- <small class="flex-fill text-center py-2"><i class="fa fa-user text-primary me-2"></i>30 Students</small> -->
          <!-- </div> -->
        </div>
      </div>
      <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
        <div class="course-item bg-light">
          <div class="position-relative overflow-hidden">
            <img
              class="img-fluid"
              src="/assests/img/img-Courses/7.png"
              alt=""
            />
            <!-- <div class="w-100 d-flex justify-content-center position-absolute bottom-0 start-0 mb-4"> -->
            <!-- <a href="#" class="flex-shrink-0 btn btn-sm btn-primary px-3 border-end" style="border-radius: 30px 0 0 30px;">Read More</a> -->
            <!-- <a href="#" class="flex-shrink-0 btn btn-sm btn-primary px-3" style="border-radius: 0 30px 30px 0;">Join Now</a> -->
            <!-- </div> -->
          </div>
          <div class="text-center p-4 pb-0">
            <!-- <h3 class="mb-0">$149.00</h3> -->
            <!-- <div class="mb-3"> -->
            <!-- <small class="fa fa-star text-primary"></small> -->
            <!-- <small class="fa fa-star text-primary"></small> -->
            <!-- <small class="fa fa-star text-primary"></small> -->
            <!-- <small class="fa fa-star text-primary"></small> -->
            <!-- <small class="fa fa-star text-primary"></small> -->
            <!-- <small>(123)</small> -->
            <!-- </div> -->
            <h5 class="mb-4">B.Tech for Working Professionals</h5>
            <p class="mb-0">
              An online B. tech course is an online course that leads to a
              graduate degree in engineering.
            </p>
          </div>
          <!-- <div class="d-flex border-top"> -->
          <!-- <small class="flex-fill text-center border-end py-2"><i class="fa fa-user-tie text-primary me-2"></i>John Doe</small> -->
          <!-- <small class="flex-fill text-center border-end py-2"><i class="fa fa-clock text-primary me-2"></i>1.49 Hrs</small> -->
          <!-- <small class="flex-fill text-center py-2"><i class="fa fa-user text-primary me-2"></i>30 Students</small> -->
          <!-- </div> -->
        </div>
      </div>
      <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
        <div class="course-item bg-light">
          <div class="position-relative overflow-hidden">
            <img
              class="img-fluid"
              src="/assests/img/img-Courses/2.png"
              alt=""
            />
            <!-- <div class="w-100 d-flex justify-content-center position-absolute bottom-0 start-0 mb-4"> -->
            <!-- <a href="#" class="flex-shrink-0 btn btn-sm btn-primary px-3 border-end" style="border-radius: 30px 0 0 30px;">Read More</a> -->
            <!-- <a href="#" class="flex-shrink-0 btn btn-sm btn-primary px-3" style="border-radius: 0 30px 30px 0;">Join Now</a> -->
            <!-- </div> -->
          </div>
          <div class="text-center p-4 pb-0">
            <!-- <h3 class="mb-0">$149.00</h3> -->
            <!-- <div class="mb-3"> -->
            <!-- <small class="fa fa-star text-primary"></small> -->
            <!-- <small class="fa fa-star text-primary"></small> -->
            <!-- <small class="fa fa-star text-primary"></small> -->
            <!-- <small class="fa fa-star text-primary"></small> -->
            <!-- <small class="fa fa-star text-primary"></small> -->
            <!-- <small>(123)</small> -->
            <!-- </div> -->
            <h5 class="mb-4">Distance & Online BA</h5>
            <p class="mb-0">
              An undergraduate program in the arts is called a Bachelor of Arts,
              or BA. The BA can be pursued.
            </p>
          </div>
          <!-- <div class="d-flex border-top"> -->
          <!-- <small class="flex-fill text-center border-end py-2"><i class="fa fa-user-tie text-primary me-2"></i>John Doe</small> -->
          <!-- <small class="flex-fill text-center border-end py-2"><i class="fa fa-clock text-primary me-2"></i>1.49 Hrs</small> -->
          <!-- <small class="flex-fill text-center py-2"><i class="fa fa-user text-primary me-2"></i>30 Students</small> -->
          <!-- </div> -->
        </div>
      </div>
      <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
        <div class="course-item bg-light">
          <div class="position-relative overflow-hidden">
            <img
              class="img-fluid"
              src="/assests/img/img-Courses/5.png"
              alt=""
            />
            <!-- <div class="w-100 d-flex justify-content-center position-absolute bottom-0 start-0 mb-4"> -->
            <!-- <a href="#" class="flex-shrink-0 btn btn-sm btn-primary px-3 border-end" style="border-radius: 30px 0 0 30px;">Read More</a> -->
            <!-- <a href="#" class="flex-shrink-0 btn btn-sm btn-primary px-3" style="border-radius: 0 30px 30px 0;">Join Now</a> -->
            <!-- </div> -->
          </div>
          <div class="text-center p-4 pb-0">
            <!-- <h3 class="mb-0">$149.00</h3> -->
            <!-- <div class="mb-3"> -->
            <!-- <small class="fa fa-star text-primary"></small> -->
            <!-- <small class="fa fa-star text-primary"></small> -->
            <!-- <small class="fa fa-star text-primary"></small> -->
            <!-- <small class="fa fa-star text-primary"></small> -->
            <!-- <small class="fa fa-star text-primary"></small> -->
            <!-- <small>(123)</small> -->
            <!-- </div> -->
            <h5 class="mb-4">Distance & Online BCA</h5>
            <p class="mb-0">
              Online BCA Course is a three-year course which is designed to
              provide students with the necessary.
            </p>
          </div>
          <!-- <div class="d-flex border-top"> -->
          <!-- <small class="flex-fill text-center border-end py-2"><i class="fa fa-user-tie text-primary me-2"></i>John Doe</small> -->
          <!-- <small class="flex-fill text-center border-end py-2"><i class="fa fa-clock text-primary me-2"></i>1.49 Hrs</small> -->
          <!-- <small class="flex-fill text-center py-2"><i class="fa fa-user text-primary me-2"></i>30 Students</small> -->
          <!-- </div> -->
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Courses End -->

<!-- Team Start -->
<!-- <div class="container-xxl py-5">
        <div class="container">
            <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
                <h6 class="section-title bg-white text-center text-primary px-3">Instructors</h6>
                <h1 class="mb-5">Expert Instructors</h1>
            </div>
            <div class="row g-4">
                <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                    <div class="team-item bg-light">
                        <div class="overflow-hidden">
                            <img class="img-fluid" src="img/team-1.jpg" alt="">
                        </div>
                        <div class="position-relative d-flex justify-content-center" style="margin-top: -23px;">
                            <div class="bg-light d-flex justify-content-center pt-2 px-1">
                                <a class="btn btn-sm-square btn-primary mx-1" href=""><i class="fab fa-facebook-f"></i></a>
                                <a class="btn btn-sm-square btn-primary mx-1" href=""><i class="fab fa-twitter"></i></a>
                                <a class="btn btn-sm-square btn-primary mx-1" href=""><i class="fab fa-instagram"></i></a>
                            </div>
                        </div>
                        <div class="text-center p-4">
                            <h5 class="mb-0">pushpendra </h5>
                            <small>Designation</small>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                    <div class="team-item bg-light">
                        <div class="overflow-hidden">
                            <img class="img-fluid" src="img/team-2.jpg" alt="">
                        </div>
                        <div class="position-relative d-flex justify-content-center" style="margin-top: -23px;">
                            <div class="bg-light d-flex justify-content-center pt-2 px-1">
                                <a class="btn btn-sm-square btn-primary mx-1" href=""><i class="fab fa-facebook-f"></i></a>
                                <a class="btn btn-sm-square btn-primary mx-1" href=""><i class="fab fa-twitter"></i></a>
                                <a class="btn btn-sm-square btn-primary mx-1" href=""><i class="fab fa-instagram"></i></a>
                            </div>
                        </div>
                        <div class="text-center p-4">
                            <h5 class="mb-0">Asad</h5>
                            <small>development</small>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
                    <div class="team-item bg-light">
                        <div class="overflow-hidden">
                            <img class="img-fluid" src="img/team-3.jpg" alt="">
                        </div>
                        <div class="position-relative d-flex justify-content-center" style="margin-top: -23px;">
                            <div class="bg-light d-flex justify-content-center pt-2 px-1">
                                <a class="btn btn-sm-square btn-primary mx-1" href=""><i class="fab fa-facebook-f"></i></a>
                                <a class="btn btn-sm-square btn-primary mx-1" href=""><i class="fab fa-twitter"></i></a>
                                <a class="btn btn-sm-square btn-primary mx-1" href=""><i class="fab fa-instagram"></i></a>
                            </div>
                        </div>
                        <div class="text-center p-4">
                            <h5 class="mb-0">Shobhit</h5>
                            <small>Desig</small>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.7s">
                    <div class="team-item bg-light">
                        <div class="overflow-hidden">
                            <img class="img-fluid" src="img/team-4.jpg" alt="">
                        </div>
                        <div class="position-relative d-flex justify-content-center" style="margin-top: -23px;">
                            <div class="bg-light d-flex justify-content-center pt-2 px-1">
                                <a class="btn btn-sm-square btn-primary mx-1" href=""><i class="fab fa-facebook-f"></i></a>
                                <a class="btn btn-sm-square btn-primary mx-1" href=""><i class="fab fa-twitter"></i></a>
                                <a class="btn btn-sm-square btn-primary mx-1" href=""><i class="fab fa-instagram"></i></a>
                            </div>
                        </div>
                        <div class="text-center p-4">
                            <h5 class="mb-0">Neta</h5>
                            <small>Design</small>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> -->
<!-- Team End -->

<!-- Testimonial Start -->
<div class="container-xxl py-5 wow fadeInUp" data-wow-delay="0.1s">
  <div class="container">
    <div class="text-center">
      <h6 class="section-title bg-white text-center text-primary px-3">
        Testimonial
      </h6>
      <h1 class="mb-5">Our Students Say!</h1>
    </div>
    <div class="owl-carousel testimonial-carousel position-relative">
      <div class="testimonial-item text-center">
        <img
          class="border rounded-circle p-2 mx-auto mb-3"
          src="/assests/img/indian-asian-cute-little-school-girl-wesra-graduat-2024-05-03-23-23-48-utc.jpeg"
          style="width: 80px; height: 80px"
        />
        <h5 class="mb-0">Kirti</h5>
        <p>Engineer</p>
        <div class="testimonial-text bg-light text-center p-4">
          <!-- <p class="mb-0">Tempor erat elitr rebum at clita. Diam dolor diam ipsum sit diam amet diam et eos. Clita erat ipsum et lorem et sit.</p> -->
          <p>
            "Getting my degree while working full-time seemed impossible, but
            this platform has made it easy.
          </p>
        </div>
      </div>
      <div class="testimonial-item text-center">
        <img
          class="border rounded-circle p-2 mx-auto mb-3"
          src="/assests/img/handsome-and-young-indian-male-college-student-2024-02-06-12-39-12-utc.jpg"
          style="width: 80px; height: 80px"
        />
        <h5 class="mb-0">Pushpendra</h5>
        <p>Developer</p>
        <div class="testimonial-text bg-light text-center p-4">
          <p class="mb-0">
            "I was unsure about online learning, but it’s been a lifesaver.
            Despite my busy schedule, I’m about to graduate. The journey’s been
            challenging but worth it."
          </p>
        </div>
      </div>
      <div class="testimonial-item text-center">
        <img
          class="border rounded-circle p-2 mx-auto mb-3"
          src="/assests/img/indian-asian-student-school-boy-in-uniform-with-g-2024-07-22-17-35-51-utc.jpeg"
          style="width: 80px; height: 80px"
        />
        <h5 class="mb-0">Shobhit</h5>
        <p>Student</p>
        <div class="testimonial-text bg-light text-center p-4">
          <p class="mb-0">
            "This distance learning program suits my independent style
            perfectly. I can study at my own pace, with excellent resources and
            support from professors."
          </p>
        </div>
      </div>
      <div class="testimonial-item text-center">
        <img
          class="border rounded-circle p-2 mx-auto mb-3"
          src="/assests/img/ready-for-the-new-semester-a-young-ethnic-woman-w-2023-11-27-05-10-04-utc.jpg"
          style="width: 80px; height: 80px"
        />
        <h5 class="mb-0">Neetu Sharma</h5>
        <p>Designer</p>
        <div class="testimonial-text bg-light text-center p-4">
          <p class="mb-0">
            "This course is exactly what I needed to advance in my field. It’s
            relevant, challenging, and fits perfectly with my job, my
            career on hold."
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Testimonial End -->
<%- include('./Footer.ejs') %>
